<div class="dashboard">
    <div class="dashboard__grid">
        <div class="dashboard__balance">
            <app-balance
                [balance]="formatVal(this.balance)"
                [isLoading]="balanceLoading"
            ></app-balance>
            <app-stats [expense]="expenses" [income]="incomes"></app-stats>
            <app-chart [data]="monthsData"></app-chart>
        </div>
        <div class="dashboard__expensesStats">
            <div class="dashboard__expenses">
                <h2 class="dashboard__title">
                    Ostatnie wydatki
                </h2>
                <div
                    class="dashboard__info"
                    *ngIf="lastExpensesList.length === 0"
                >
                    Brak wydatków
                </div>
                <app-expense
                    *ngFor="let expense of lastExpensesList"
                    [expense]="expense"
                ></app-expense>
            </div>
            <div class="dashboard__categories">
                <h2 class="dashboard__title">Według kategorii</h2>
                <app-categories [categories]="categories"></app-categories>
            </div>
        </div>
        <div class="dashboard__accounts">
            <h2 class="dashboard__title">
                Konta
            </h2>
            <app-account
                *ngFor="let acc of accounts"
                [account]="acc"
            ></app-account>
            <div class="alert alert-info" *ngIf="!accounts.length">
                Brak kont. <a href="#">Dodaj</a> nowe konto.
            </div>
            <h2 class="dashboard__title">
                Konta oszczędnościowe
            </h2>
            <app-account
                *ngFor="let acc of saving"
                [account]="acc"
            ></app-account>
            <div class="alert alert-info" *ngIf="!saving.length">
                Brak kont.
            </div>
        </div>
    </div>
</div>
