<div class="dashboard">
    <div class="dashboard__grid">
        <div class="dashboard__balance">
            <app-balance
                [balance]="formatVal(this.balance)"
                [isLoading]="balanceLoading"
            ></app-balance>
            <app-stats [expense]="expenses" [income]="incomes"></app-stats>
            <app-chart [data]="monthsData"></app-chart>
        </div>
        <div class="dashboard__chart">
            <div class="dashboard__expenses">
                <h2 class="dashboard__title">
                    Ostatnie wydatki
                </h2>
                <div>
                    <h3 class="dashboard__subtitle">
                        Dzisiaj
                        <span>{{ formatVal(expensesList.today.sum) }} PLN</span>
                    </h3>
                    <div
                        class="dashboard__info"
                        *ngIf="expensesList.today.list.length === 0"
                    >
                        Brak wydatków
                    </div>
                    <app-expense
                        *ngFor="let expense of expensesList.today.list"
                        [expense]="expense"
                    ></app-expense>
                </div>
                <div>
                    <h3 class="dashboard__subtitle">
                        Wczoraj
                        <span>{{ formatVal(expensesList.yesterday.sum) }} PLN</span>
                    </h3>
                    <div
                        class="dashboard__info"
                        *ngIf="expensesList.yesterday.list.length === 0"
                    >
                        Brak wydatków
                    </div>
                    <app-expense
                        *ngFor="let expense of expensesList.yesterday.list"
                        [expense]="expense"
                    ></app-expense>
                </div>
                <div>
                    <h3 class="dashboard__subtitle">
                        Przedwczoraj
                        <span>{{ formatVal(expensesList.dayBeforeYesterday.sum) }} PLN</span>
                    </h3>
                    <div
                        class="dashboard__info"
                        *ngIf="expensesList.dayBeforeYesterday.list.length === 0"
                    >
                        Brak wydatków
                    </div>
                    <app-expense
                        *ngFor="let expense of expensesList.dayBeforeYesterday.list"
                        [expense]="expense"
                    ></app-expense>
                </div>
            </div>
            <div class="dashboard__categories">
                <h2 class="dashboard__title">Według kategorii</h2>
                <app-categories [categories]="categories"></app-categories>
            </div>
        </div>
        <div class="dashboard__accounts">
            <h2 class="dashboard__title">
                Konta zakupowe
            </h2>
            <app-account
                *ngFor="let acc of accounts"
                [account]="acc"
            ></app-account>
            <h2 class="dashboard__title">
                Konta oszczędnościowe
            </h2>
            <app-account
                *ngFor="let acc of saving"
                [account]="acc"
            ></app-account>
        </div>
    </div>
</div>
