<div class="categories-tree__item">
    <div class="categories-tree__item-data">
        <span
            class="categories-tree__icon"
            [ngStyle]="{ backgroundColor: category.color }"
        >
            <i class="fas fa-{{ category.image }}"></i>
        </span>
        <span class="categories-tree__name">
            {{ category.name }}
            &nbsp;&nbsp;&nbsp;
            <small [ngStyle]="{ backgroundColor: category.color }">
                {{ category.color }}
            </small>
        </span
        >
    </div>
    <div class="categories-tree__children">
        <app-categories-tree-item
            [category]="child"
            *ngFor="let child of category?.children"
        ></app-categories-tree-item>
    </div>
</div>
