.sidebar {
    padding: 30px 0 30px 30px;
    .ng-fa-icon {
        margin-right: 8px;
        font-size: 18px;
        vertical-align: middle;
    }
    &__logo {
        margin-bottom: 50px;
    }
    &__nav {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        &-item {
            padding: 8px 0;
            position: relative;
        }
        &-link {
            display: block;
            padding: 5px 15px 0;
            color: var(--link-color);
            text-decoration: none;
            font: 600 14px/37px 'Spartan';
            border-radius: 7px;
            transition: all 0.3s;
            &:hover,
            &.active {
                color: var(--link-hover);
                background: #fff;
                box-shadow: 0 0 5px rgba(0, 0, 0, .05);
            }
        }
        &-add {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            .ng-fa-icon {
                font-size: 14px;
                line-height: 14px;
                display: block;
            }
        }
    }
}
