<form class="adding-form" [formGroup]="accountForm" (submit)="submit()">
    <app-alert type="danger" *ngIf="status === 'not-ok' && accountForm.valid" text="Wystąpił błąd, spróbuj ponownie później"></app-alert>
    <app-alert type="danger" *ngIf="status === 'not-ok' && !accountForm.valid" text="Wypełnij prawdiłowo wszystkie pola."></app-alert>
    <app-alert type="success" *ngIf="status === 'ok'" text="Dodane!"></app-alert>
    <div class="input">
        <label for="name">
            Nazwa
        </label>
        <input type="text" name="name" id="name" formControlName="name"/>
    </div>
    <div class="input">
        <label for="startValue">
            Stan konta
        </label>
        <div class="input-group">
            <input type="number" name="startValue" id="startValue" formControlName="startValue" />
        </div>
    </div>
    <div class="input">
        <label for="type">
            Typ konta
        </label>
        <select formControlName="type" id="type">
            <option value="">Wybierz</option>
            <option value="saving">Oszczędnościowe</option>
            <option value="private">Prywatne</option>
            <option value="credit">Kredyt</option>
        </select>
    </div>
    <div class="input">
        <label for="color">
            Kolor
        </label>
        <input type="text" name="color" id="color" formControlName="color" />
    </div>        
    <div class="input">
        <label for="image">
            Obrazek
        </label>
        <input type="text" name="image" id="image" formControlName="image" />
    </div>    
    <div class="input">
        <label for="description">
            Opis
        </label>
        <input type="text" name="type" id="description" formControlName="description" />
    </div>
    <button type="submit" class="button button--primary">Dodaj</button>
</form>
